h1{
    font-size: 4rem;
}
.p-carrito{
    font-size: 2rem;
}
.removerItem{
    height: 4rem;
    width: 9rem;
    font-size: 1rem;
}
.empty-cart{
    font-size: 1rem;
}
.go-to-home{
    font-size: 1rem;
}

.order-id{
    font-size: 1rem;
}
