.logoImagen{
    width: 100%;
    height: 100%;
}
.padreLogo{
    height: 15rem;
    width: 15rem;
}
.listaUl{
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 45, 45);
}
.tamañoTexto{
    font-size: 3rem;
    color: #FFFF;
    text-decoration: none;
}
.tamañoTexto:hover{
    color: white;
}
.tamañoWidget{
    font-size: 10rem;
    color: #FFFF;
}
.tamañoWidget:hover{
    color: white;
}
.divContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19rem;
}
.divContainer li:last-child{
    margin-right: 3rem;
}