.contenedorBoton{
    display: flex;
    justify-content: space-around;
    width: 14rem;
}


.contenedorBoton p{
    font-size: 1.5rem;
}

.suma{
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
}


.resta{
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
}

.quantity-add{
    height: 3rem;
    width: 18rem;
    font-size: 1rem;
}
