.card{
    margin: 3rem;
}
.botonVerMas {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   
   .botonVerMas:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .botonVerMas:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }
.contenedorBotonesItem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}