.tamañoLetra{
    font-size: 4rem;
}
.cardDetail{
    display: flex;
    flex-direction: row;
    width: 100rem;
    height: 30rem;
}
.contenedorDetalle{
    
    height: 42rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreDetalle{
    font-size: 3rem;
}
.contenedorTitulo{
    width: 57rem;
    height: 6rem;
}

.cardText{
    font-size: 1.5rem;
}
.imgDetalle{
    width: 100%;
    height: 100%;
}
.contenedorBotonesDetalle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
