*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
     font-size: 62.5%; /* *Reset para REMS - 62.5% = 10px de 16px* */

}
    

.tituloMain{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedorArticulos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
